h3 {
  font-size: 2rem;
}

label {
  border: 5px outset grey;
  padding: 10px;
  font-size: 50px;
  text-align: right;
}

input {
  display: none;
}

input:checked + label {
  background-color: blue;
}
